.icon-remove {
    margin: 7px 0px 0px 6px;
}
.vote-choice {
    height: 30px;
    margin-top: 6px;
}
.vote-img {
    height: 150px;
    margin-top: 6px;
}
.help-btn-purple {
    margin-top: 60px;
    margin-bottom: 10px;
}

.help-center-btn {
    margin-left: 45%;
}